body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #0071ce;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

#analytics-panel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.analytics-item {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 23%;
}

.analytics-item h3 {
    margin-top: 0;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#tables-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.table-wrapper {
    flex: 1 1 calc(50% - 20px); /* Adjust width of each table */
}

.table-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
